@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border:.1rem solid rgba(255,255,255, .3);


}

*{
    font-family:"Roboto", sans-serif;
    margin:0;padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{

    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar{
    width: .8rem;


}

html::-webkit-scrollbar-track{
    background: transparent;

}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;

}

body{
    background: var(--bg);
}
.header{

    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color:#fff ;

}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom:.1rem solide var(--main-color) ;
    padding-bottom: .5rem;
}


.inicio{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(fotos/s2Prancheta1.jpg) no-repeat;
    body{width:90%;margin: 0 auto;min-width:600px;max-width:2000px}
}
.sobremim{

    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(fotos/s2Prancheta2.jpg) no-repeat;
    body{width:90%;margin: 0 auto;min-width:600px;max-width:2000px}
}


.proposta{

    min-height: 150dvh;
    display: flex;
    align-items: center;
    background:url(fotos/s2Prancheta3.jpg) no-repeat;
    body{width:90%;margin: 0 auto;min-width:600px;max-width:2000px}
}



.contrate-me{

    min-height: 70vh;
    display: flex;
    align-items: center;
    background:url(fotos/s2Prancheta4.jpg) no-repeat;
    body{width:90%;margin: 0 auto;min-width:600px;max-width:2000px}
}
.footer{
    background:var(--black);
    text-align: center

}
.footer .share{

    padding: 1rem 0;
}
.footer .share a{

    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    color:aqua;
    border:var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{

    background-color: var(--main-color);

}

.footer .credit{

    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}